* {
  box-sizing: border-box;
  font-family: "Comic Sans MS", cursive, sans-serif ;
}
header{
	text-align: center;
	margin-top: 40px;
	font-size: 175%;
	font-weight: bold;
}


p {
	color: black;
	padding: 10px;

}


.row {
  width: 100%;
}



@media (min-width: 992px) {
	.skipLine{
	width: 100%;
	height: 35px;
}
	.MasterCol {
		float: left;
		width: 33.33%;
		  margin-right: auto;
  margin-left: auto;
	}

  .col-lg {
    float: left;
    border: 1px solid black;
     margin: 15px;
    background-color: gray;

  }
    .Hcol-lg {
    width: 33.33%;
    float: right;
    border:1px solid black;
    border-right: 0px;
    border-top: 0px;
    text-align: center;
    height: 35px;
    padding: 2px;
    font-weight: bold;
    font-size: 125%;


  }

}

@media (min-width: 768px) and (max-width: 991px) {
	.skipLine{
	width: 100%;
	height: 20px;
}
	.MasterCol-RowOdd {
		float: left;
		width: 50%;
		margin-right: auto;
  		margin-left: auto;
	}

	.MasterCol-RowEven {
		float: left;
		width: 100%;
		margin-right: auto;
  		margin-left: auto;
	}

  .col-lg {
    	float: left;
   		border: 1px solid black;
     	margin: 15px;
    	background-color: gray;
  	}

    .Hcol-lg-rowOdd {
    	width: 50%;
    	float: right;
    	border:1px solid black;
    	border-right: 0px;
    	border-top: 0px;
    	text-align: center;
    	height: 35px;
    	padding: 2px;
    	font-weight: bold;
    	font-size: 125%;
  	}

    .Hcol-lg-rowEven {
    	width: 20%;
    	float: right;
    	border:1px solid black;
    	border-right: 0px;
    	border-top: 0px;
    	text-align: center;
    	height: 35px;
    	padding: 2px;
    	font-weight: bold;
    	font-size: 125%;
  	}
}


@media (max-width: 767px) {
	.skipLine{
	width: 100%;
	height: 10px;
}
	.MasterCol {
		float: left;
		width: 100%;
		  margin-right: auto;
  margin-left: auto;
	}

  .col-lg {
    float: left;
    border: 1px solid black;
     margin: 15px;
    background-color: gray;

  }
    .Hcol-lg {
    width: 33.33%;
    float: right;
    border:1px solid black;
    border-right: 0px;
    border-top: 0px;
    text-align: center;
    height: 35px;
    padding: 2px;
    font-weight: bold;
    font-size: 125%;


  }

}

#MenuHeader1{
	background-color: #D59898;
}
#MenuHeader2{
	background-color: #C14543;
}
#MenuHeader3{
	background-color: #D8C690;
}



